# Common
dist
node_modules
.eslintcache
vite.config.*.timestamp*

# MacOS
.DS_Store

# Local env files
*.local

# Logs
*.log

# Use the pnpm
package-lock.json
yarn.lock

# Clacky-related configuration
.1024*
!.1024
.breakpoints

# Language-specific files
*.tsbuildinfo

# Framework-related files
*.vue
*.js

# Package manager directories
.pnpm-store